#include <dt-bindings/zmk/matrix_transform.h>

/ {
    p79_physical_layout: p79_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Primer79";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };
};
